.main {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

input {
  border: 3px solid #32e17c;
  height: 40px;
  width: 250px;
  border-radius: 30px;
  padding: 0px 10px;
  font-size: 18px;
}

input:focus {
  outline: 0;
}

button {
  margin-left: 10px;
  width: 80px;
  height: 40px;
  background-color: #32e17c;
  border-radius: 5px;
  border-style: none;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3%;
}

.card {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}
.card-img {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: auto;
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}